<div>
    

    <input type="text" name="message" id="message" placeholder="Mensaje" style="width: 260px;">
    <button onclick="sendMessage()">Enviar</button>
    <p id="received_messages"></p>
</div>


